svg {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}
svg:hover {
    color: grey;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
}
