.listRooms {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.list {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 56px;
}

.searchBtn {

}

.searchInput {
    width: 100%;
}

.searchIcon {

}

.searchContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
