/* The alert message box */
.alert {
  padding: 20px;
  /*background-color: #f44336;*/ /* Red */
  color: white;
  margin-bottom: 15px;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}
