.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.chatbox {
    margin-top: 12px;
    width:100%;
    border: 2px solid #B2B2B2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #5D5A59;
    max-height: 500px;
    overflow-y: scroll;
}

.chatbox:after {
    content: "";
    display: block;
    /*padding-bottom: 100%;*/
}

/*.chatbox div div {
    overflow: scroll !important;
}

.chatbox div div div {
    overflow: hidden !important;
}*/

svg {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}
svg:hover {
    color: grey;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    width: 100%;
}

.videoTime {
    font-size: 13px;
    margin-left: 6px;
}

.message{
    font-size: 12px;
    margin: 0;
    color: #2b2b2b;
    background: white;
    resize: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto !important;
}
.timestamp{
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
    margin-left: 6px;
}
 
