.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-left: 5%;
  margin-right: 5%;
  margin-left: 5%;
  width: auto;
}

.card:nth-last-child(1) {
    margin-bottom: 5%;
}

.card:nth-child(1) {
    margin-top: 5%;
}


/* Add some padding inside the card container */
.container {
  padding: 2px 2px;
}


.logo {

}
