.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 42;
}

.modalMain {
  position:fixed;
  background: white;
  width: auto;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 20px 20px;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}
