.header {
	left: 0;
	top: 0;
	width: 100%;
	height: 32px;
	padding: 0;
	background: #331d5b;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h4 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 18px;
	line-height: 32px;
	font-weight: 400;
	color: #FFF;
}

.header nav {
	float: right;
	font-size: 100%;
	display: inline-flex;
}

.header nav a {
	display: flex;
	height: 32px;
	line-height: 32px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}

.header label {
    padding: 0;
}

/* Hide the link that should open and close the topnav on small screens */
.header .icon {
  display: none;
}


 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the header (.icon) */
@media screen and (max-width: 500px) {
  .header a:not(:first-child) {display: none;}
  .header a.icon {
    float: right;
    display: block;
  }
}


/* The "responsive" class is added to the header with JavaScript when the user clicks on the icon. This class makes the header look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 500px) {
    .header.responsive {
	/*position: relative;*/
    	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
  .header.responsive a.icon {
      /*position: absolute;*/
      right: 0;
      top: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: center;
    background: #331d5b;
  }
  /*.header.responsive a:nth-child(2) {
      margin-top: 56px;
  }*/
  .header nav {
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  
  .header nav a:hover{
      background: rgba(0,0,0,0.5);
  }
  
  .header nav a.active {
      background: rgba(0,0,0,0.75);
  }

  .header label {
      vertical-align: middle;
  }
  
  /*.header label {
      display: none;
  }*/
  
}

.labelSwitch {
    margin-left: 0.3em;
    font-size: 80%;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 21px;
  margin-top: auto;
  margin-bottom: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #673AB7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #673AB7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.EditModal {
    text-align: start;
    margin-top: 15%;
}

.EditModal > div {
    margin-top: 5%;
    margin-bottom: 5%;
}

.noIcon {
    margin-left: 48px;
}

.inlineInput {
    display: inline-flex;
}
