.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    /*height: 100px;*/
    margin: 20px;
    /*width:  275px;*/
    width: 50%;
    /*overflow: hidden;
    display: block;
    position: relative;*/
}

.start {
    margin-left: 25%;
}

.end {
    margin-left: 25%;
}


@media screen and (max-width: 600px) {
    .bubble{
        width: 80%;
    }
    .start {
	margin-left: 12%;
    }
    
    .end {
	margin-left: 12%;
    }
}
